#! Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#! Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.env

#! Misc
.DS_Store
.fleet

#! Можно убрать в некоторых случаях (gh-pages)
.vscode/*
dist

#! Папки с кэшем и инфой о покрытии тестами
# /__tests__/jest/cache
# /__tests__/jest/Test Coverage

node_modules
dist-ssr
*.local

#! Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
