/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Общие стили для элементов */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('src/assets/fonts/opensans-russian.woff2') format('woff2'),
    url('src/assets/fonts/opensans-english.woff2') format('woff2');
}
*,
*::before,
*::after {
  font-family: 'Open Sans';
}
code {
  font-family: monospace;
}
body {
  height: 100vh;
}

/* Стили для шрифта и веса */
b,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
strong,
th {
  font-weight: 500;
}

/* Стили для ширины элементов */
table,
textarea:not([cols]) {
  width: 100%;
}

/* Стили для выравнивания текста */
table caption,
td,
th {
  text-align: left;
}

/* Стили для вертикального выравнивания */
input,
td,
th {
  vertical-align: top;
}

/* Стили для переноса слов */
body,
td,
th {
  word-wrap: break-word;
}

/* Стили для фона */
code,
kbd,
samp,
time {
  background: #efefef;
}

details[open] summary,
table {
  margin-bottom: 10px;
}

/* Стили для курсора */
button,
input[type='button'],
input[type='checkbox'],
input[type='radio'],
input[type='range'],
input[type='reset'],
input[type='submit'],
select,
summary {
  cursor: pointer;
}

/* Стили для outline */
input[type='range']:focus,
summary {
  outline: 0;
}

/* Стили для фона элементов details и dialog */
details,
dialog {
  background-color: #f7f7f7;
}

/* Стили для цвета текста */
body,
dialog,
kbd {
  color: #363636;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Пользовательские переменные */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

:root {
  --background-body: #000127;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --selection: #ffffff;
  --text-main: #ffffff;
  --text-bright: #ffffff;
  --text-muted: #70777f;

  --links: #13a0ff;
  --focus: #3738ca;
  --border: #cf8c8c;
  --code: #000;
  --animation-duration: 0.1s;
  --scrollbar-thumb: #a9e4f5;
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #180202;
  --variable: #39a33c;
  --highlight: #ff0;

  --button-primary: #13a0ff;
  --button-primary-hover: #0066ff;

  --button-secondary: #363636;
  --button-secondary-hover: #000000;

  --button-danger: #e74c3c;
  --button-danger-hover: #c0392b;
  --button-warning: #f1c40f;
  --button-warning-hover: #f39c12;
  --button-success: #2ecc71;
  --button-success-hover: #27ae60;

  --orange-crayola: rgb(255, 95, 12);
  --vegas-gold: hsl(41, 85%, 62%);
  --light-gray: hsl(0, 0%, 84%);
  --jet: hsl(0, 0%, 25%);
  --eerie-black-1: hsl(240, 2%, 9%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --onyx: hsl(240, 1%, 17%);

  /* gradient */
  --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 93%, 48%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 93%, 58%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(0, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 98%, 59%));

  /* font-size */
  --fs-1: 20pt;
  --fs-2: 16pt;
  --fs-3: 14pt;
  --fs-4: 12pt;
  --fs-5: 11pt;
  --fs-6: 10pt;
  --fs-7: 8pt;
  --fs-8: 6pt;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
 * shadow
 */
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
* transition
*/
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Стили для страницы и элементов формы */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Стили для прокрутки */
html {
  scrollbar-color: var(--scrollbar-thumb) var(--background-body);
  scrollbar-width: thin;
}

/* Основные стили для body */
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'Segoe UI Emoji',
    'Apple Color Emoji',
    'Noto Color Emoji',
    sans-serif;
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  color: var(--text-main);
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}

/* Стили для переходов на кнопках и инпутах */
button,
input,
textarea {
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Стили заголовков */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
  font-size: 2.2em;
}

/* Общие стили для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  margin-top: 24px;
  color: var(--text-bright);
}

strong {
  color: var(--text-bright);
}

q::after,
q::before {
  content: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Стили для курсива */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

blockquote,
q {
  border-left: 4px solid var(--focus);
  margin: 1.5em 0;
  padding: 0.5em 1em;
  font-style: italic;
}

address,
blockquote cite,
blockquote > footer,
var {
  font-style: normal;
}

blockquote > footer {
  border: 0;
}

/* Иконки для mailto, tel, sms */
a[href^='mailto\:']::before {
  content: '📧 ';
}
a[href^='tel\:']::before {
  content: '📞 ';
}
a[href^='sms\:']::before {
  content: '💬 ';
}

mark {
  background-color: var(--highlight);
  border-radius: 2px;
  padding: 0 2px;
  color: #000;
}

a > code,
a > strong {
  color: inherit;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Стили для форм и их элементов */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Стили для отображения */
input,
select {
  display: block;
}

/* Стили для checkbox и radio */
[type='checkbox'],
[type='radio'] {
  display: initial;
}

/* Основные стили для форм */
button,
input,
select,
textarea {
  color: var(--form-text);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: 0;
}

/* Стили для кнопок */
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: var(--button-base);
  padding-right: 30px;
  padding-left: 30px;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  background: var(--button-hover);
}

/* Стили для input[type='color'] */
input[type='color'] {
  min-height: 2rem;
  padding: 8px;
  cursor: pointer;
}

/* Стили для input[type='checkbox'] и input[type='radio'] */
input[type='checkbox'],
input[type='radio'] {
  height: 1em;
  width: 1em;
}

/* Стили для input[type='radio'] */
input[type='radio'] {
  border-radius: 100%;
}

/* Стили для label */
label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}

/* Удаление стандартного отображения */
button,
input:not([type='checkbox']):not([type='radio']),
input[type='range'],
select,
textarea {
  -webkit-appearance: none;
}

/* Стили для textarea */
textarea {
  display: block;
  margin-right: 0;
  box-sizing: border-box;
  resize: vertical;
}

/* Стили для textarea без атрибута rows */
textarea:not([rows]) {
  min-height: 40px;
  height: 140px;
}

/* Стили для select */
select {
  background: var(--background) var(--select-arrow) calc(100% - 12px) 50%/12px no-repeat;
  padding-right: 35px;
}

/* Удаление стрелки для select на IE */
select::-ms-expand {
  display: none;
}

/* Стили для select с multiple */
select[multiple] {
  padding-right: 10px;
  background-image: none;
  overflow-y: auto;
}

/* Стили для фокуса */
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--focus);
}

/* Стили для placeholder */
::-moz-placeholder {
  color: var(--form-placeholder);
  opacity: 1;
}

::placeholder {
  color: var(--form-placeholder);
  opacity: 1;
}

/* Стили для disabled */
[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Дополнительные стили */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Стили для summary */
summary {
  color: var(--links);
  margin-top: 16px;
}

/* Стили для details внутри details */
details details {
  margin-left: 16px;
}

/* Стили для select[multiple] */
select[multiple] {
  height: auto;
  padding: 10px;
  background-image: none;
}

/* Стили для input[type='range'] */
input[type='range'] {
  padding: 0;
  margin-top: 4px;
  background: transparent;
  vertical-align: middle;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-focus-outer {
  border: 0;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
  background: var(--form-placeholder);
}

input[type='range']::-moz-range-track {
  height: 4px;
  border-radius: 2px;
  background: var(--form-placeholder);
}

input[type='range']::-ms-track {
  height: 4px;
  border-radius: 2px;
  background: var(--form-placeholder);
}

input[type='range']::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: 2px solid var(--background-body);
  border-radius: 50%;
  background: var(--scrollbar-thumb);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 2px solid var(--background-body);
  border-radius: 50%;
  background: var(--scrollbar-thumb);
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  width: 20px;
  height: 20px;
  border: 2px solid var(--background-body);
  border-radius: 50%;
  background: var(--scrollbar-thumb);
  cursor: pointer;
}

input[type='range']::-ms-fill-lower {
  background: var(--background);
}

input[type='range']::-ms-fill-upper {
  background: var(--background);
}

input[type='range']:focus::-webkit-slider-thumb {
  border-color: var(--focus);
}

input[type='range']:focus::-moz-range-thumb {
  border-color: var(--focus);
}

input[type='range']:focus::-ms-thumb {
  border-color: var(--focus);
}

/* Стили для input[type='range'] с указанием вертикального значения */
input[type='range'][orient='vertical'] {
  writing-mode: bt-lr;
  height: 140px;
}

input[type='range'][orient='vertical']::-webkit-slider-runnable-track {
  width: 4px;
}

input[type='range'][orient='vertical']::-moz-range-track {
  width: 4px;
}

input[type='range'][orient='vertical']::-ms-track {
  width: 4px;
}

input[type='range'][orient='vertical']::-webkit-slider-thumb {
  margin-top: 0;
}

input[type='range'][orient='vertical']:focus::-webkit-slider-thumb {
  border-color: var(--focus);
}

input[type='range'][orient='vertical']:focus::-moz-range-thumb {
  border-color: var(--focus);
}

input[type='range'][orient='vertical']:focus::-ms-thumb {
  border-color: var(--focus);
}

/* Стили для прогресс-бара */
progress {
  vertical-align: baseline;
}

progress,
progress[aria-valuenow] {
  display: inline-block;
  height: 16px;
  overflow: hidden;
  border: none;
  border-radius: 16px;
  background-color: var(--background-alt);
  box-shadow: inset 0 0 2px var(--border);
}

progress::-webkit-progress-bar {
  background-color: var(--background-alt);
}

progress::-webkit-progress-value {
  background-color: var(--scrollbar-thumb);
  box-shadow: none;
}

progress::-moz-progress-bar {
  background-color: var(--scrollbar-thumb);
  box-shadow: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Стили для ссылок */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
a {
  text-decoration: none;
  color: var(--links);
}

a:hover,
summary:focus,
summary:hover {
  text-decoration: underline;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Стили для кода */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
code,
samp,
time {
  background: var(--background);
  color: var(--code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}
var {
  color: #39a33c;
  color: var(--variable);
  font-family: monospace;
}
kbd {
  background: var(--background);
  border: 1px solid #dbdbdb;
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-main);
  padding: 2px 4px;
}
img,
video {
  max-width: 100%;
  height: auto;
}
hr {
  border: none;
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid var(--border);
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
td,
th {
  padding: 6px;
}
thead {
  border-bottom: 1px solid #dbdbdb;
  border-bottom: 1px solid var(--border);
}
tfoot {
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid var(--border);
}
tbody tr:nth-child(2n) {
  background-color: #efefef;
  background-color: var(--background);
}
tbody tr:nth-child(2n) button {
  background-color: #f7f7f7;
  background-color: var(--background-alt);
}
tbody tr:nth-child(2n) button:hover {
  background-color: #fff;
  background-color: var(--background-body);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Ползунок для прокрутки страницы */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #efefef;
  background: var(--background);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
  background: var(--scrollbar-thumb-hover);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Выделение текста */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
::-moz-selection {
  background-color: #9e9e9e;
  background-color: var(--selection);
  color: #000;
  color: var(--text-bright);
}
::selection {
  background-color: var(--selection);
  color: var(--text-bright);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-alt);
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}
details[open],
summary {
  padding: 10px;
}
details > :last-child {
  margin-bottom: 0;
}
summary {
  display: list-item;
  background-color: #efefef;
  background-color: var(--background);
  margin: -10px -10px 0;
}
details > :not(summary) {
  margin-top: 0;
}
summary::-webkit-details-marker {
  color: #363636;
  color: var(--text-main);
}
dialog {
  background-color: var(--background-alt);
  color: var(--text-main);
  border: #dbdbdb;
  border-radius: 6px;
  border-color: var(--border);
  padding: 10px 30px;
}
dialog > header:first-child {
  background-color: #efefef;
  background-color: var(--background);
  border-radius: 6px 6px 0 0;
  margin: -10px -30px 10px;
  padding: 10px;
  text-align: center;
}
dialog::-webkit-backdrop {
  background: #0000009c;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
dialog::backdrop {
  background: #0000009c;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
footer {
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid var(--border);
  padding-top: 10px;
  color: #70777f;
  color: var(--text-muted);
}
body > footer {
  margin-top: 40px;
}
@media print {
  body,
  button,
  code,
  details,
  input,
  pre,
  summary,
  textarea {
    background-color: #fff;
  }
  button,
  input,
  textarea {
    border: 1px solid #000;
  }
  body,
  button,
  code,
  footer,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  pre,
  strong,
  summary,
  textarea {
    color: #000;
  }

  summary::marker {
    color: #000;
  }
  summary::-webkit-details-marker {
    color: #000;
  }
  tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
  }
  a {
    color: #00f;
    text-decoration: underline;
  }
}

.nav {
  li {
    list-style: none;
  }
  a {
    margin-right: 2rem;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Медиа запросы */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (hover: hover) {
  a:hover,
  summary:hover {
    text-decoration: none;
    background-color: hsla(160, 89%, 53%, 0.2);
    transition: var(--animation-duration) ease-in-out;
  }
}

@media (min-width: 320px) {
}

@media (min-width: 450px) {
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
